.row {
    width: 100%;
}
.text-bold {
    font-weight: 700;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right !important;
}
.h4-responsive {
    font-size: 24px;
}
.h5-responsive {
    font-size: 20px;
}