.row {
    width: 100%;
}
.text-bold {
    font-weight: 700;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right !important;
}
.h4-responsive {
    font-size: 24px;
}
.h5-responsive {
    font-size: 20px;
}

//Main navigation css
.navbar-expand-lg {
    .collapse.navbar-collapse {
        display: block !important;
        .navbar-nav {
            float : right;
            margin-right: 35px;
        }
    }
}

//modal css
.modal-open {
    overflow: hidden !important;
}
