.login-wrapper, .reset-wrapper{
    width: 500px;
    min-height: 300px;
    background-color: #f2f2f2;
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px 20px;
    .form-group {
        margin-bottom: 15px;
    }
    .loginform {
        text-align: left;
    }
    .forget-password {
        width: 100%;
        margin-right: 20px;
    }
}