.header-wrapper {
    display: flow-root;
    .app-logo {
        height: 100px;
        width: 150px;
        margin-left: 100px;
        float: left;
        width: 14%;
    }
    .navigation-wrapper {
        float: right;
        width: 75%;
        min-height: 100px;
    }
}