.dashboard-top {
    position: relative;
    img{
        width: 100%;
        height: 350px;
        opacity: 0.95;
    }
    .text-wrapper {
        h2{
            position: absolute;
            top: 50%;
            left: 35%;
            z-index: 2;
            color: wheat;
            font-weight: 700;
        }
    }
    .search {
        position: absolute;
        top: 70%;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
        padding: 20px;
    }
}