.navbar {
    z-index: 1;
}
.navbar {
    background-color: transparent;
    box-shadow: none;
}
.top-nav-collapse {
    background-color: #4285F4;
}
.nav-link {
    color: black !important;
}
.navbar-collapse {
    margin-top: 20px;
}
.nav-item {
    padding: 15px;
    min-width: 100px;
}